cffi==1.8.3
chardet==2.3.0
cycler==0.10.0
elasticsearch==5.0.0
img2pdf==0.2.1
matplotlib==1.5.3
numpy==1.11.2
ocrmypdf==4.2.5
pdfminer.six==20160614
Pillow==3.4.2
ply==3.9
py==1.4.31
pycparser==2.16
pyparsing==2.1.10
PyPDF2==1.26.0
pytest==3.0.3
python-dateutil==2.5.3
pytz==2016.7
reportlab==3.3.0
ruffus==2.6.3
six==1.10.0
urllib3==1.18
